:root{
    --bhs_green_dark: #004E42;
    --bhs_green_light: #64a188;
    --bhs_blue_medium: #275276;
}

body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: hidden;
}


/* Styles for the top bar*/
.topBaseBar{
    text-align: left;
    min-width: max-content;
    color: white;
    background-color: var(--bhs_green_dark);
    height: 70px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
}
.bhsLogo{
    height: 100%;
}


/* Styles for the admin page*/
.admin_page_title{
    text-align: center;
    font-size: 40px;
}
.admin_page_container{
    text-align: center;
    background-color: #D9D9D9;
    color: var(--bhs_blue_medium);
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 30px;
    min-height: 100px;
    padding-bottom: 1px;
}
.admin_panel_tabs_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
}
.admin_panel_tab{
    font-size: 140%;
    border: none;
    background-color: transparent;
}
.admin_panel_content_container{
    background-color: white;
    border-radius: 15px;
    margin: 20px 10px 5px 10px;
    padding: 1.5%;
    
}
.admin_section_title{
    text-align: left;
}


/* Subsection for classes about displaying the different sources*/
.admin_source_section_div{
    grid-template-columns: 17fr 15fr;
    display: grid;
    height: 500px;
    margin-bottom: 10px;
    gap: 1%;
}
.admin_source_list{
    background-color: #D9D9D9;
    border-radius: 30px;
    height: 100%;
    overflow-y: scroll;
}
.admin_source_info_display_tab{
    background-color: white;
    border-radius: 30px;
    border: #D9D9D9 solid 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 15px;
    margin: auto auto auto auto;
}
.admin_new_source_button{
    height: 15%;
    text-decoration: bold;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: auto;
    padding-left: 5%;
    padding-bottom: auto;
    font-size: 30px;
    color: var(--bhs_blue_medium);
    background: none;
    border: none;
    width: 100%;

}
.admin_new_source_button:hover{
    background: #a5a5a5;
}
#admin_new_source_form{
    background-color: white;
    position: fixed;
    width: 40%;
    left: 30%;
    right: 30%;
    border-radius: 30px;
    border: 5px #a5a5a5 solid;
    opacity: 0.0;
    transition: 0.3s;
    z-index: 10;
    height: 40%;
    top: 25%;
    bottom: 25%;
    font-size: 20px;
}
#admin_new_source_form.shown{
    opacity: 1.0;
}
#admin_new_source_form_input_grid{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    width:50%;
    text-align: right;
    gap: 10%;
}
#admin_source_succesful_insert{
    color: #116ebb;
    background-color: #abcae4;
    border-radius: 15px;
    border: #116ebb solid 2px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 12px;
    visibility: hidden;
}


/* Classes for result page*/
.results_list{
    padding-left:50px
}
.result_container{
    color: black;
    text-decoration: none;
    width: 100%;
    grid-template-rows: 3;
    display: grid;
    margin-left: 2%;
}
.result_container:visited{
    color: black;
    text-decoration: none;
}
.result_title{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.result_source{
    margin-top: -0.5%;
    color: var(--bhs_green_light);
}
.result_text{
    margin-top: -0.5%;
    padding-left: 0px;
}
.results_search_bar_div{
    margin: 20px;
    padding: 15px;
    min-height: 50px;
    min-width: 95%;
    font-size: 50px;
    margin-bottom: 30px;
    border-bottom: solid #275276 5px;
}
.results_search_bar{
    background-color: none;
    width: 90%;
    border: none;
    font-size: 40px;
    color: #275276;
    font-weight: bold;
}
.results_search_bar:focus{
    outline: none;
}
.resultDivider{
    width: 95%;
    border-color: #275276;

}
.result_search_bar_icon{
    width: 2%;
}


/* Classes for search page */
.search_bar{
    display: block;
    margin:auto;
    margin-top: 390px;
    padding: 25px;
    background-color: #D9D9D9;
    color: #275276;
    min-width: 95%;
    font-size: 30px;
    border-radius: 30px;
    font-weight: bold;
    border: none;

}

/* General use */
 #overlay {
    background-color: black;
    display: relative;
    position:fixed;
    left:0;
    top: 0;
    width:100%;
    height:100%;
    opacity: 0.0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 1;
}
#overlay.dimmed {
    opacity: 0.5;
    pointer-events: all;
}