:root{
    --bhs_green_dark: #004E42;
    --bhs_green_light: #64a188;
    --bhs_blue_medium: #275276;
}

body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: hidden;
    background-image: url('Background-cropped.svg');
    background-size: cover;
    background-attachment: fixed;
    padding-right: 10%;
    padding-top: 80px;
}


/* Styles for the top bar*/
.topBaseBar{
    top: 0px;
    text-align: left;
    min-width: max-content;
    color: white;
    background-color: var(--bhs_green_dark);
    height: 80px;
    padding-left: 20px;
    position: fixed;
    z-index: 4;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
}
.bhsLogo{
    padding-top: 8px;
    height: 64px;
}
#top_bar_dropdown{
    overflow: hidden;
}

#username_section{
    float: right;
    height: 100%;
    text-align: center;
}
#username_button{
    padding-right: 50px;
    padding-left: 30px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    height: 100%;
}
#username_button:hover{
    background-color: rgba(0, 0, 0, 0.171);
}
#username_button:focus{
    background-color: rgba(0, 0, 0, 0.271);
}
#top_bar_dropdown-content {
    display: block;
    background-color: #f9f9f9;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    position: relative;
}
#logout_link {
    color: black;
    text-decoration: none;
}


/* Styles for the home page */
#homepage_content {
    margin-left: 20px;
    font-family: sans-serif;
    height: 100%;
    background-color: #D9D9D9;
    border-radius: 30px;
    padding: 30px;
    margin-top: 30px;
}
#g_id_onload{
    visibility: hidden;
}
#gsi{
    visibility: hidden;
}
#home_title{
    text-align: center;
    font-size: 50px;
}
#homepage_footer{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #004E42;
    color: white;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#homepage_text{
    margin-bottom: 20px;
}
#login_button{
    padding: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #275276;
    border: none;
    border-radius: 30px;
    font-weight: bold;
}
#login_button:hover{
    background-color: #20435f;
}

/* Styles for the admin page*/
.admin_page_title{
    text-align: center;
    font-size: 40px;
}
.admin_page_container{
    text-align: center;
    background-color: #D9D9D9;
    color: var(--bhs_blue_medium);
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 30px;
    min-height: 100px;
    padding-bottom: 1px;
}
.admin_panel_tabs_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
}
.admin_panel_tab{
    font-size: 140%;
    border: none;
    background-color: transparent;
}
.admin_panel_content_container{
    background-color: white;
    border-radius: 15px;
    margin: 20px 10px 5px 10px;
    padding: 1.5%;
    
}
.admin_section_title{
    text-align: left;
}


/* Subsection for classes about displaying the different sources*/
.admin_source_section_div{
    grid-template-columns: 17fr 15fr;
    display: grid;
    height: 500px;
    margin-bottom: 10px;
    gap: 1%;
}
.admin_source_list{
    background-color: #D9D9D9;
    border-radius: 30px;
    height: 100%;
    overflow-y: scroll;
}
.admin_source_info_display_tab{
    background-color: white;
    border-radius: 30px;
    border: #D9D9D9 solid 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 15px;
    margin: auto auto auto auto;
    text-align: left;
}
.admin_new_source_button, .admin_source_button{
    height: 15%;
    text-decoration: bold;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: auto;
    padding-left: 5%;
    padding-bottom: auto;
    font-size: 30px;
    color: var(--bhs_blue_medium);
    background: none;
    border: none;
    width: 100%;
    transition: 0.3s;

}
.admin_new_source_button:hover, .admin_source_button:hover{
    background: #a5a5a5;
}
#admin_new_source_form{
    background-color: white;
    position: fixed;
    width: 40%;
    left: 30%;
    right: 30%;
    border-radius: 30px;
    border: 5px #a5a5a5 solid;
    opacity: 0.0;
    transition: 0.3s;
    z-index: 10;
    height: 40%;
    top: 25%;
    bottom: 25%;
    font-size: 20px;
    pointer-events: none;
}
#admin_new_source_form.shown{
    opacity: 1.0;
    pointer-events: all;
}
#admin_new_source_form_input_grid{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    width:50%;
    text-align: right;
    gap: 10%;
}
#admin_source_succesful_insert, #admin_source_succesful_reparse{
    color: #116ebb;
    background-color: #abcae4;
    border-radius: 15px;
    border: #116ebb solid 2px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 12px;
    visibility: hidden;
}

#source_display_url{
    visibility: hidden;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
#source_display_url:hover{
    color: var(--bhs_blue_medium);
}
#source_display_title{
    visibility: hidden;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
#source_reparse{
    margin-top: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    text-align: left;
    margin-right: 50%;
    border-radius: 0px;
    background-color: #e9e9e9;
    border: none;
    padding: 15px;
    border-radius: 15px;
    visibility: hidden;
    transition: 0.2s;
}
#source_reparse:hover{
    background-color: #D9D9D9;
}


/* Classes for result page*/
.results_list{
    padding-left:50px
}
.result_container{
    color: black;
    text-decoration: none;
    width: 100%;
    grid-template-rows: 3;
    display: grid;
    margin-left: 2%;
    transition: 0.2s;
    visibility: visible;
}
.result_container:visited{
    color: black;
    text-decoration: none;
}
.result_container.hide{
    display: none;
}
.result_title{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.result_source{
    margin-top: -0.5%;
    color: var(--bhs_green_light);
}
.result_text{
    margin-top: -0.5%;
    padding-left: 0px;
}
.results_search_bar_div{
    margin: 20px;
    padding: 15px;
    min-height: 50px;
    min-width: 95%;
    font-size: 50px;
    margin-bottom: 30px;
    border-bottom: solid #275276 5px;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 19fr 1fr;
}
#search_bar{
    position: relative;
    z-index: 0;
    background-color: none;
    width: 90%;
    border: none;
    font-size: 40px;
    color: #275276;
    font-weight: bold;
}
.results_search_bar:focus{
    outline: none;
}
.resultDivider{
    width: 95%;
    border-color: #275276;
}
.resultDivider.hide{
    display: none;
}
#result_search_bar_icon{
    width: 70%;
    padding-left: auto;
    padding-right: auto;
}
#filter_search_bar_icon{
    width: 80%;
}
#no_results_text{
    margin-left: 30px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#source_grid{
    grid-template-columns: 1fr 12fr;
    display: grid;
    margin-left: 5px;
    text-align: left;
}
#source_checkbox{
    margin-left: 5px;
}
#source_filter_text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#filter_dialogue{
    background-color: white;
    position: fixed;
    width: 40%;
    left: 30%;
    right: 30%;
    border-radius: 30px;
    border: 5px #a5a5a5 solid;
    opacity: 0.0;
    transition: 0.3s;
    z-index: 10;
    min-height: 40%;
    top: 25%;
    bottom: 25%;
    font-size: 20px;
    pointer-events: none;
    text-align: center;
}
#filter_dialogue.shown{
    opacity: 1.0;
    pointer-events: all;
}
#filter_heading{
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#filter_apply{
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    background-color: #20435f;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
}
#filter_apply:hover{
    background-color: #162e41;
}

/* Classes for search page */
.search_bar{
    display: block;
    margin:auto;
    margin-top: 390px;
    margin-left: 20px;
    padding: 25px;
    background-color: #D9D9D9;
    color: #275276;
    min-width: 95%;
    font-size: 30px;
    border-radius: 30px;
    font-weight: bold;
    border: none;
}
#loading_results{
    text-align: center;
    height: 100px;
    padding-top: 30px;
    visibility: hidden;
}

/* Error page styles*/
#error_text {
    font-size: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}

/* General use */
#overlay {
    background-color: black;
    display: relative;
    position:fixed;
    left:0;
    top: 0;
    width:100%;
    height:100%;
    opacity: 0.0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 1;
    visibility: hidden;
}
#overlay.dimmed {
    opacity: 0.5;
    pointer-events: all;
    visibility: visible;
}


