:root{
    --bhs_green_dark: #004E42;
    --bhs_green_light: #64a188;
    --bhs_blue_medium: #275276;
}

body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


/* Styles for the top bar*/
.topBaseBar{
    text-align: left;
    min-width: max-content;
    color: white;
    background-color: var(--bhs_green_dark);
    height: 70px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
}
.bhsLogo{
    height: 100%;
}


/* Styles for the admin page*/
.admin_page_title{
    text-align: center;
    font-size: 40px;
}
.admin_page_container{
    text-align: center;
    background-color: #D9D9D9;
    color: var(--bhs_blue_medium);
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 30px;
    min-height: 100px;
    padding-bottom: 1px;
}
.admin_panel_tabs_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 10px;
}
.admin_panel_tab{
    font-size: 140%;
    border: none;
    background-color: transparent;
}
.admin_panel_content_container{
    background-color: white;
    border-radius: 15px;
    margin: 20px 10px 5px 10px;
    padding: 1.5%;
    
}
.admin_section_title{
    text-align: left;
}
.admin_document_input{
    min-width: 100%;
    min-height: 300px;
    border-style: solid;
    border-width: 10px;
    text-align: top;
    max-width:100%;
}
.admin_url_input{
    min-width: 100%;
    min-height: 50px;
    border-style: solid;
    border-width: 10px;
    text-align: top;
    max-width:100%;
    margin-top: 30px;
}


/* Classes for result page*/
.results_list{
    padding-left:50px
}
.result_container{
    color: black;
    text-decoration: none;
    width: 100%;
}
.result_container:visited{
    color: black;
    text-decoration: none;
}
.result_title{
    color: var(--bhs_blue_medium);
    padding-left: 20px;
}
.result_text{
    padding-left: 70px;
}
.results_search_bar{
    margin: 20px;
    padding: 15px;
    border: none;
    background-color: #D9D9D9;
    color: #275276;
    min-height: 50px;
    border-radius: 15px;
    min-width: 95%;
    font-size: 30px;
}