:root{
    --bhs_green_dark: #325044;
    --bhs_green_light: #64a188;
}

.topBaseBar{
    text-align: center;
    min-width: max-content;
    color: white;
    background-color: var(--bhs_green_dark);
    height: 15%;
    padding-top: auto;
    padding-bottom: auto;

}

body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}