{% extends 'base.html' %}

{% block content %}
    <h1 class = "admin_page_title">Admin Panel</h1>
    <div class = "admin_page_container">
        <div class = "admin_panel_tabs_container">
            <button class = "admin_panel_tab">
                Documents
            </button>
            <button class = "admin_panel_tab">
                Users
            </button>
            <button class = "admin_panel_tab">
                Logs
            </button>
        </div>
        <div class="admin_panel_content_container">
            {% block admin %}
            {% endblock%}
        </div>
    </div>
{% endblock %}