{% extends 'admin.html'%}

{% block admin %}
<h2 class = "admin_section_title">
    Insert Documents:
    <br>
</h2>

<script type = "text/javascript" src="/static/admin_documents.js"></script>

<!-- <form method="post">
    <input name = "url" type="text" class = "admin_url_input" required="true">
    <button formaction="/new_source"> INSERT </button>
</form> -->

<div class="admin_source_section_div">
    <div class="admin_source_list">
        <button class="admin_new_source_button">
            Add Source +
        </button>
        {% for i in range(ids|length)%}
            <button class ="admin_source_button" url = "{{urls[i]}}" name = "{{names[i]}}" id = "{{ids[i]}}">
                {{names[i]}}
            </button>
        {% endfor %}
    </div>
    <div class="admin_source_info_display_tab">
            <div id="source_display_title">

            </div>
            <div id="source_display_url">
                
            </div>
    </div>
</div>


<div id="overlay"></div>

<div id="admin_new_source_form">
    <form method="post">
        <h1>New Page Source</h1>
        <div id="admin_new_source_form_input_grid">
            <div>
                URL: 
            </div>
            <input type = "text" required="true" name="url" id="url">
            <div>
                Name: 
            </div>
            <input type = "text" required="true" name="name" id="name">
        </div>
        <button id="confirm_new_source" type="button"> INSERT </button>
        <div id="admin_source_succesful_insert">Source uploaded succesfully! It should take 10 minutes to an hour to fully crawl depending on the size of the website</div>
    </form>
</div>

{% endblock %}
