    {% extends 'base.html' %}

    {% block content %}

    <script src="/static/home.js" type="text/javascript"></script>

    <div id= "homepage_content">
        <h1 id="home_title">
            Burnside File Searcher
        </h1>
        <p id = "homepage_text">
        Search through 1000's across google drive and Burnside High School's various websites.

        To search, sign in with google. You may be asked to sign in again to give authorization
        </p>
        
        <a href="/login">
            <button id = "login_button">
                Sign in with Google
            </button>
        </a>

    </div>
    <footer id="homepage_footer">
            Made by Aditya Bansal
    </footer>
    {% endblock%}