{% extends 'base.html' %}

{% block content %}

<head>
    <script>
         document.addEventListener('DOMContentLoaded', function() {
            var searchBar = document.getElementById("search_bar");
            searchBar.addEventListener("keypress", function(event) {
                console.debug("AIAIAI")
                if (event.key === "Enter") {
                    search();  // call your search function
                }
            });
         });

         function search(){
            const query = document.getElementById("search_bar").value;
            const words = query.split(" ");
            var urlString= words.join("_");
            window.location.href= "/search/".concat(urlString);
         }
    </script>
</head>


<input type="text" id = "search_bar" value = "{{query}}" class = "search_bar" placeholder = "Search Burnside">

{% endblock %}